*{
    margin: 0;
    padding: 0;
    background-color: #0075E2;
    color: white;
    font-family: 'Open Sans', 'Roboto', sans-serif;
}
header{
    height: 300px;
}
header img, ul, li{
    display: inline-block;
}
header img{
    width: 300px;
    height: 300px;
    padding-left: 100px;
}
header ul {
    float: right;
    padding-right: 100px;
    padding-top: 130px;
}
header ul li{
    text-align: justify;
    font-size: 19px;
    font-weight: bold;
    margin-right: 40px;
    padding-bottom: 8px;
}
header ul li:hover{
    cursor: pointer;
    border-bottom: white solid 5px;
}
section img{
    display: inline-block;
    width: 600px;
    height: 600px;
    padding-bottom: 100px;
}
section form{
    display:inline-block;
    position: absolute;
    padding-top: 150px;
}
form h3{
    padding: 20px 0 25px 0;
}
.register{
    display: block;
    width: 250px;
    margin: 10px 0 25px 0;
    font-size: 18px;
    border: 1px solid gray;
    background: white;
    opacity: 0.1;
}
button{
    display: block;
    margin-top: 30px; 
    width: 200px;
}